@use"../responsive/_responsive" as *;
@use"../animation/_animation.scss";

.c-news-slide{
    display: flex;
    position: absolute;
    right: 30px;
    bottom: 50px;
    overflow: hidden;
    align-items: center;
    width: 360px;
    line-height: 1;
    padding: 0.5em 0;
    border: 1px solid var(--color-main);
    background-color: #000;
    @include responsive(sm){
        right: 30px;
        bottom: 50px;
        width: 200px;
    }
    p{
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        color: var(--color-font);
        white-space: nowrap;
        margin: 0;
        padding-left: 360px;
        animation-name: newsslide-animation;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        @include responsive(sm){
            font-size: 12px;
             padding-left: 200px;
        }
    }
    p:after{
        content: "";
        white-space: nowrap;
        padding-right: 50px;
    }
    &__dete{
        margin-right: 1em;
     }
    &__body {
      color: var(--color-main);
    }
}