@use"../responsive/_responsive.scss" as *;
.c-engfont{
    font-family: "Exo", sans-serif;
}

.c-section-head{
    position: relative;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: .05em;
    color: var(--color-main);
    margin-bottom: 4.375rem;
    @include responsive(sm){
        font-size: 3.125rem;
        margin-bottom: 2.8125rem;
    }
}
.c-section-head::before{
    display: inline-block;
    content: "";
    position: absolute;
    bottom: -30px; /*下線の上下の位置*/
    width: 80px; /*下線の幅*/
    height: 8px; /*下線の太さ*/
    background-color: var(--color-main);
    @include responsive(sm){
        bottom: -15px;
        width: 60px;
        height: 6px;
    }
}

.c-section-head--reserve{
    @extend .c-section-head;
    color: var(--color-trailer);
}

.c-section-head--reserve::before{
    display: inline-block;
    content: "";
    position: absolute;
    bottom: -30px; /*下線の上下の位置*/
    width: 80px; /*下線の幅*/
    height: 8px; /*下線の太さ*/
    background-color: var(--color-trailer);
    @include responsive(sm){
        bottom: -15px;
        width: 60px;
        height: 6px;
    }
}