@use "../foundation/_mixin.scss" as *;
.l-footer{
    padding: space-to-clamp(38,40,375,1440)  space-to-clamp(20,40,375,1440) 0;
    background-color: #000;
 &__wrapper{
    display: flex;
    justify-content: space-between;
    @include responsive("phone"){
      flex-direction: column;
      align-items: center;
    }
 }
 &__sns{
    display: flex;
    .facebook,
    .line{
        margin-left: px-to-rem(20px);
    }
    @include responsive("phone"){
      margin-bottom: px-to-rem(30px); 
    }
 }
 &__cta{
   margin-top: px-to-rem(44px);
   text-align: center;
 }
 &__link{
     margin-top: px-to-rem(20px);
     padding-bottom: px-to-rem(20px);
     text-align: center;
     font-size: space-to-clamp(18,20,375,1440);
     transition: .3s all;
     &:hover{
        text-decoration: underline 1px solid #fff;
     }
 }
}